/*.btn-group {
  width: 100px;
  height: 30px;
}*/


.btn-default {
  padding: 5px 20px;
  border: 0;
  text-shadow: none;
  box-shadow: none;
  color: #fff;
}

button.dropdown-toggle {
  padding: 5px 10px;
}
.btn-default.secondary {
  background: #0099cc;
  color: #fff;
}
.btn-default.secondary:hover,
.btn-default.secondary:focus,
.btn-default.secondary:active {
  background: #005ca3;
  outline: 0;
}

.dropdown-toggle {
  border: 0;
  color: #fff;
}
#split-button-basic-secondary.dropdown-toggle {
  background: #0099cc;
  border-left: 1px solid #007ab7;
}
#split-button-basic-secondary.dropdown-toggle:hover {
  background: #005ca3;
  border-left: 1px solid #007ab7;
  color: #fff;
}
.btn-default.primary {
  background: #374650;
}

.btn-default.primary:active,
.btn-default.primary:focus,
.btn-default.primary:hover {
  background: #212C34;
  outline: 0;
}
#split-button-basic-primary.dropdown-toggle {
  background: #374650;
  border-left: 1px solid #212c34;
}
#split-button-basic-primary.dropdown-toggle:hover {
  background: #212C34;
  color: #fff;
}
