#search-input-override.popover.bottom {
    margin-top: 20px;
}
#search-input-override .popover-content {
  padding: 0 !important;
}
/*#search-input-override.popover.bottom>.arrow {
  top: -11px;
  left: auto !important;
  right: 17%;
  margin-left: -11px;
}*/
