
.button-refresh {
  transition: transform 1s ease;
}

.button-refresh-refreshing {
    color: #212C34 !important;
    animation:spin 1s linear infinite;
    transition: color 0.3s ease-in;
}

@keyframes spin { 100% {  transform:rotate(360deg); } }
