.core-animation-koko{
  display: none;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  transform: translate3d(0.1px, 0 ,0);
  -webkit-transform: translate3d(0.1px, 0 ,0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.core-animation-koko-active{
  display: block;
}
.core-animation-koko-leave-back{
  transform: translate3d(100%, 0 ,0);
  -webkit-transform: translate3d(100%, 0 ,0);
}
.core-animation-koko-leave-forward{
  transform: translate3d(-100%, 0 ,0);
  -webkit-transform: translate3d(-100%, 0 ,0);
}
.core-animation-koko-enter-back{
  transform: translate3d(-100%, 0 ,0);
  -webkit-transform: translate3d(-100%, 0 ,0);
}
.core-animation-koko-enter-forward{
  transform: translate3d(100%, 0 ,0);
  -webkit-transform: translate3d(100%, 0 ,0);
}
