.date-style {
  position: relative;
  width: 100%;
  height: 36px;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: none !important;
  border: 1px solid #CCC;
  padding: 6px 10px 5px;
  outline: none;
}

.error-in-date {
  position: relative;
  width: 100%;
  height:36px;
  font-size: 13px;
  border-radius: 5px;
  padding: 6px 10px 5px;
  border: 1px solid #CCC;
  outline: none;
}

.success-in-date {
  position: relative;
  width: 100%;
  height: 36px;
  font-size: 13px;
  border-radius: 5px;
  outline: none;
  padding: 6px 10px 5px;
  border: 1px solid #CCC;

}

.focus-in-date {
  position: relative;
  width: 100%;
  height: 36px;
  font-size: 13px;
  border-radius: 5px;
  outline: none;
  padding: 6px 10px 5px;
  border: 1px solid #CCC;

}

.date-error-on-blur {
  position: relative;
  width: 100%;
  height: 36px;
  font-size: 13px;
  border-radius: 5px;
  outline: none;
  padding: 6px 10px 5px;
  border: 1px solid #CCC;
}

.datepicker__input-container {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin-top: 5px;
}
